.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
  background-color: rgb(198,154,81);
}

.row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.square {
  width: 55px;
  height: 55px;
  background-color: rgb(198,154,81);
  position: relative;

}

.square:before {
  content:"";
  height: 100%;
  width:2px;
  background:black;
  position: absolute;
  top: 0%;
  right: 50%;
  transform: translateX(50%);
}

.square:after {
  content:"";
  height: 2px;
  width:100%;
  background:black;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(50%);
}

.top:before {
  top: 50%;
}

.bot:before {
  height: 50%;
}

.left:after {
  left: 50%;
}

.right:after {
  right: 50%;
}
