.board {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
  background-color: rgb(198,154,81);
}

.row {
  border: 0.25px solid black;
}