.main{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  height:100%;
  width:100%;
  border: 3px solid cyan;
}

.startScreen {
  display:flex;
  flex-direction: row;
  justify-content: center;
  height: 75vh;
  width: 75vw;
  border:3px solid red;
  background-image: url('../images/background/mainScreen.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.playerScreen {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:20%;
  height:50%;
  background: white;
  border: 3px solid rgb(115,154,189);
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border:3px solid rgb(115,154,189);
}

.subScreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

}

.imageHolder {
  display: inline-block;
  justify-content: center;
  margin: 2%;
  border: 3px solid red;
  height: 50px;
  width: 50px;

}

.imagePiece {
  /* margin: 2%; */
  height: 100%;
  width: 100%;
  object-fit:cover;
}

.button {
  margin: 2%;
  height:10%;
  width:10%;
}

.button:hover {
  color:red;
}